.full-area {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 95vh;
}
.game-area {
  position: relative;
  margin: 25px auto;
  width: 600px;
  height: 600px;
  border: 2px solid black;
}

.snake-dot {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: rgb(47, 181, 35);
  border: 0.5px solid rgb(255, 255, 255);
  box-sizing: border-box;
  z-index: 2;
}

.snake-food {
  position: absolute;
  width: 2%;
  height: 2%;
  /* background-image: url("mouse.png"); */
  background-color: rgb(101, 101, 101);
  border: 0.5px solid rgb(255, 255, 255);
  box-sizing: border-box;
  z-index: 1;
}
